<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>My Orders</h3>
        </div>
    </div>
    <div class="row mb-2 mt-2 border-bottom" *ngFor="let row of orders">
        <div class="col-md-8">
            <h6>
                {{row.entry_date | date}}
            </h6>
            <h5 style="font-weight: 100;">{{row.area}},{{row.city}},{{row.district}},{{row.state}},{{row.country}},-{{row.pincode}} <br>
            </h5>
        </div>
        <div class="col-md-4">
            <h5>{{row.ttl_amount | currency:'INR'}}</h5>
            <a routerLink="/order_det/{{row.product_order_id}}">View Details</a>
        </div>
    </div>
</div>
<app-footer></app-footer>