<app-navbar></app-navbar>
<br><br>
<div class="container" *ngIf="order_info">
    <div class="row">
        <div class="col-md-10">
            <h2 style="font-weight: 100;">Order Details</h2>
            <h5 style="font-weight: 100;">Order Id -{{order_info.product_order_id}}</h5>
            <h5 style="font-weight: 100;">Order Date -{{order_info.entry_date | date}}</h5>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-12 mt-5">
            <h3 style="font-weight: 100;border-bottom: 1px solid grey; padding-bottom: 10px;">Billing Info</h3>
        </div>
        <div class="col-md-6">
            Ship To,
            <h5>
                {{order_info.area}},
                {{order_info.city}},
                {{order_info.district}},
                {{order_info.state}},
                {{order_info.country}}-
                {{order_info.pincode}}
            </h5>
        </div>
        <div class="col-md-6">
            Payment Mode,
            <h5>
                {{order_info.payment_type}}, 
            </h5>
        </div>
        <div class="col-md-12 mt-5">
            <h3 style="font-weight: 100;border-bottom: 1px solid grey; padding-bottom: 10px;">Product Info</h3>
        </div>
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Rate</th>
                    <th>Qty</th>
                    <th>Total</th>
                </tr>
                <tr *ngFor="let row of order_product">
                    <td style="width: 70px;"><img [src]="row.product_img" width="100%" alt=""></td>
                    <td>{{row.product_name}}</td>
                    <td>{{row.price | currency:'INR'}}</td>
                    <td>{{row.qty}} Qty</td>
                    <td>{{row.price * row.qty | currency:'INR'}}</td>
                </tr>
                <tr>
                    <th colspan="4">
                        Total
                    </th>
                    <th>{{order_info.ttl_amount | currency:'INR'}}</th>
                </tr>
            </table>

        </div>
    </div>
</div>
<app-footer></app-footer>