<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="row mb-3 mt-3" *ngFor="let row of cartProducts">
        <div class="col-md-2 col-3">
            <img [src]="row.product_img" width="100%" alt="">
        </div>
        <div class="col-md-10 col-9">
            <h3>{{row.product_name}}</h3>
            <h5>{{row.price | currency:'INR'}}</h5>
            <div>
                <button class="btn btn-dark" (click)="decQty(row.product_econ_cart_id)">-</button>
                <input type="text" disabled class="form-control text-center w-25 d-inline-block" [value]="row.qty">
                <button class="btn btn-dark" (click)="incQty(row.product_econ_cart_id)">+</button>
            </div>
            <div>
                <button class="btn btn-dark mt-2 float-right" (click)="removeQty(row.product_econ_cart_id)"><i class="fa fa-trash-o"></i> Remove Cart</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{total | currency:'INR'}}</h2>
            <button class="btn btn-dark" routerLink="/placeorder">Confirm & Place Order</button>
        </div>
    </div>
</div>
<app-footer></app-footer>
