<app-navbar></app-navbar>
<div class="container" *ngIf="product_info">
    <div class="row">
        <div class="col-md-5 border">
            <img [src]="product_info.product_img" width="100%">
        </div>
        <div class="col-md-6 mt-3">
            <h5>{{product_info.cat_name}}</h5>
            <h2>{{product_info.product_name}}</h2>
            <h2> {{product_info.price | currency:'INR'}} /-</h2>
            <button *ngIf="product_info.cart=='No'" class="btn btn-dark" (click)="addtocart()">Add To Cart</button>
            <button *ngIf="product_info.cart=='Yes'" class="btn btn-dark" >Added In Cart</button>
        </div>
    </div>
</div>
<app-footer></app-footer>